extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/tempusdominus-bootstrap-4.min.css')

block content
  .row
    .col-md-6
      form(name='createCustomer', action=customer ? '/customer/' + customer.id + '/update' : '/customer/create', method='post')
        .form-group.row
          .col-sm-12
            if errors 
              ul
                for error in errors
                  li!= error.msg  
        .form-group.row
          label.col-sm-3.col-form-label(for='inputFirstName') First Name
          .col-sm-9
            input#inputFirstName.form-control(name='first_name', type='text', placeholder='First Name', value=customer ? customer.first_name : '')
        .form-group.row
          label.col-sm-3.col-form-label(for='inputLastName') Last Name
          .col-sm-9
            input#inputLastName.form-control(name='last_name', type='text', placeholder='Last Name', value=customer ? customer.last_name : '')
        .form-group.row
          label.col-sm-3.col-form-label(for='inputDateOfBirth') Date of birth
          .col-sm-9
            .form-group
              #datetimepicker.input-group.date(data-target-input='nearest')
                input.form-control.datetimepicker-input(name='date_of_birth', type='text', data-target='#datetimepicker')
                .input-group-append(data-target='#datetimepicker', data-toggle='datetimepicker')
                  .input-group-text
                    i.fa.fa-calendar
        .form-group.row
          label.col-sm-3.col-form-label(for='inputGender') Gender
          .col-sm-9
            .form-check.form-check-inline
              input#inputGenderMale.form-check-input(name='gender', type='radio', value='male' checked=(customer && customer.gender == 'male'))
              label.form-check-label(for='inputGenderMale') Male
            .form-check.form-check-inline
              input#inputGenderFemale.form-check-input(name='gender', type='radio', value='female' checked=(customer && customer.gender == 'female'))
              label.form-check-label(for='inputGenderFemale') Female
        .form-group.row
          label.col-sm-3.col-form-label(for='inputStatus') Status
          .col-sm-9
            select#inlineFormCustomSelect.custom-select.mr-sm-2(name='marital_status')
              option(selected='') Choose...
              option(value='single', selected=(customer && customer.marital_status.toLowerCase() == 'single') ? 'selected' : false ) Single
              option(value='married', selected=(customer && customer.marital_status.toLowerCase() == 'married') ? 'selected' : false) Married
              option(value='divorced', selected=(customer && customer.marital_status.toLowerCase() == 'divorced') ? 'selected' : false) Divorced
        .form-group.row
          label.col-sm-3.col-form-label(for='inputEmail') Email
          .col-sm-9
            input#inputEmail.form-control(name='contact.email',  type='email', placeholder='Enter email', value=customer ? customer.contact.email : '')
        .form-group.row
          label.col-sm-3.col-form-label(for='inputPhone') Phone
          .col-sm-9
            input#inputPhone.form-control(name='contact.phone', type='text', placeholder='Enter Phone', value=customer ? customer.contact.phone : '')
        .form-group.row
          label.col-sm-3.col-form-label(for='inputAddress') Address
          .col-sm-9
            textarea#inputAddress.form-control(name='address', rows='3')=customer ? customer.address.toString() : false
        .form-group.row
          .col-sm-9
            button.btn.btn-primary(type='submit') 
                if (customer)
                    | Update Customer
                else
                    | Create Customer

block scripts
  script(src='/javascripts/moment-with-locales.min.js')
  script(type='text/javascript', src='/javascripts/tempusdominus-bootstrap-4.min.js')
  script(type='text/javascript').
    birthDate = "#{typeof customer == 'undefined' ? '' : customer.date_of_birth}";
    console.log(birthDate)
    $(function () {
        $('#datetimepicker').datetimepicker({
        format: 'L',
        defaultDate: birthDate
        });
    });